.container{
    display: flex;
    flex-direction: row;
}

.input{
    outline: none;
    box-sizing: border-box;
    height: 30px;
    border-radius: 50px;
    padding: 0 20px;
    font-size: 15px;
    border: 1px solid #a14949;
}

.btn{
    border-radius: 50px;
    background-color: #c099b4;
    border: none;
    text-align: center;
    cursor: pointer;
    margin-left: 2px;
    transition: .5s;
    width: 40px;
}

.btn:hover {
    background-color: #ff007b;
    transform: scale(1.2,1.2);
    box-shadow: 0 0 10px #f8bcd9;
}